* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: arial
}

body {
    background: #6f6f6f;
    height: 100vh;
}

.container {
    background-color: #f3f5f9;
    height: 100%;
    padding: 0;
}

.wrapper {
    position: relative
}

.sidebar {
    width: 300px;
    height: 100%;
    background-size: cover;
    background-repeat: unset;
    padding: 20px 0;
    transition: 0.3s;
    overflow: hidden;
    z-index: 100;
}

.text-muted {
    color: #adb5bd !important
}

ul {
    padding-bottom: 20px
}

ul li a img {
    background: #66BB6A;
    top: 0;
    border: none;
    width: 20px
}

.sidebar ul li {
    padding: 15px
}

.sidebar ul li a {
    color: #fff;
    display: block
}

.sidebar ul li a .fas {
    width: 30px;
    color: #bdb8d7;
}

.close-menu-icon {
    display: none !important;
    float: right;
}

@media screen and (max-width: 767px){
    .hide-sidebar {
        width: 0 !important;
    }
    .close-menu-icon {
        display: block !important;
    }
}

i.fas.fa-home:hover,
i.fas.fa-file-invoice:hover,
i.fas.fa-video:hover,
i.fas.fa-id-badge:hover,
i.fas.fa-external-link-alt:hover,
i.fas.fa-code:hover,
i.far.fa-calendar-alt:hover,
i.far.fa-credit-card:hover {
    color: #304FFE !important
}

.sidebar ul li a .far {
    width: 30px;
    color: #bdb8d7;
}

.sidebar ul li:hover {
    background: lightblue;
}

.sidebar ul li a:hover {
    text-decoration: none
}

.main-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 20px;
}

.title-contact-info {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

.welcome-title {
    animation : slide 2s linear infinite;
    font-weight: bolder;
    text-shadow: 2px 2px #FF0000;
    text-align: center;

}
@keyframes slide {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

.close-wrapper {
    text-align: right;
    padding-right: 20px;
    height: 30px;
}
.close-menu-icon, .open-menu-icon {
    font-size: 28px;
    cursor: pointer;
}

.open-menu-icon:hover {
    color: red;
}

.open-menubar-button {
    position: absolute;
    padding: 10px;
    z-index: 10;
}

.close-menu-icon:hover {
    color: red !important;
}

.image-wrapper img {
    width: 100%;
}

.card {
    border: unset !important;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    opacity: 0.8;
}
.card .card-header {
    padding: 0;
}

li.selected i, li.selected a {
    color: red !important;
}

.education-row, .expertise-row {
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
    border-radius: 16px;
    margin-bottom: 40px;
    overflow: hidden;
}
.education-row .duration-wrapper {
    background: #306cb0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.expertise-row .duration-wrapper {
    background: #58b3c0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.duration-wrapper .duration {
    color: white;
    text-align: center;
    font-weight: bolder;
}

.duration-wrapper .degree {
    color: white;
    text-align: center;
    font-weight: bolder;
}

.education-row .title {
    color: dodgerblue;
    font-weight: bolder;
    font-size: 2em;
}

.expertise-row .title {
    color: #58b3c0;
    font-weight: bolder;
    font-size: 2em;
}

